
@{
    ViewData["Title"] = "Index";
}

<h1>Demo Index</h1>

<button onclick="getWithAjax('@Url.Action("LastCarAdded","Cars")')">Get last car with AJAX</button>
<button onclick="getWithAjax('@Url.Action("AjaxCarList","Cars")')">Get the list of cars with AJAX</button>
<button onclick="getLastCarJSON('@Url.Action("LastCarAddedJSON","Cars")')">Get last car as JSON with AJAX</button>
<br />
<input name="id" type="number" step="1" id="idInput" placeholder="Id here" />
<button onclick="postWithAjax('@Url.Action("AjaxCarDetails","Cars")', 'idInput')">Id Post with AJAX</button>
<br />
<input name="brand" type="text" id="brandInput" placeholder="Brand here" />
<button onclick="postWithAjax('@Url.Action("AjaxCarBrandList","Cars")', 'brandInput')">Brand Post with AJAX</button>


<div id="result"></div>

<hr />

<h1>SPA version</h1>

<div id="spaList"></div>